<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%-include('../partials/head.ejs', {title: 'Crear' , style:'/products/createForm'})%>

    </head>

    <body>
        <%-include('../partials/header.ejs')%>
            <br>
            <div class="container-flex">
                <form method="POST" action="/product/create" enctype="multipart/form-data"><br>
                    <h1>Crear producto</h1><br>
                    <hr><br><br>
                    <p>
                    <label for="nombre">Nombre</label>
                    <p class="form-error error-nombre">*(Este campo no puede estar vacío)</p>
                    <input type="text" name="nombre" id="nombre"
                        value="<%= locals.errors && old.nombre ? old.nombre : ''%>">
                    </p>
                        <label for="marca">Marca</label>
                    <p class="form-error error-marca">*(Este campo no puede estar vacío)</p>
                    
                    <!--Marcas-->
                        <select name="marca" id="marca">
                            <% brand.forEach(marca=> { %>
                                <option value="<%= marca.id %>">
                                    <%=marca.name%>
                                </option>
                                <% }) %>
                        </select>
                    <p>
                    <label for="precio">Precio</label>
                    <p class="form-error error-precio">*(Este campo no puede estar vacío)</p>
                    <input type="number" name="precio" id="precio"
                        value="<%= locals.errors && old.precio ? old.precio : ''%>">
                    </p>
                        <label for="cuotas">Cuotas</label>
                    <p class="form-error error-cuotas">*(Este campo no puede estar vacío)</p>
                    <input type="number" name="cuotas" id="cuotas"
                        value="<%= locals.errors && old.cuotas ? old.cuotas : ''%>">
                    <label for="descuento">Descuento</label>
                    <p class="form-error error-descuento">*(Este campo no puede estar vacío)</p>
                    <input type="number" name="descuento" id="descuento"
                        value="<%= locals.errors && old.descuento ? old.descuento : ''%>">
                    <label for="Stock">Stock</label>
                    <p class="form-error error-stock">*(Este campo no puede estar vacío)</p>
                    <input type="number" name="stock" id="stock"
                        value="<%= locals.errors && old.stock ? old.stock : ''%>">
                    <label for="descripcion">Descripcion</label>
                    <p class="form-error error-descripcion">*(Este campo no puede estar vacío)</p>
                    <input type="text" name="descripcion" id="descripcion"
                        value="<%= locals.errors && old.descripcion ? old.descripcion : ''%>">
                    <label for="descripcion">Descripcion Larga</label><br>
                    <p class="form-error error-descripcionLarga">*(Este campo no puede estar vacío)</p>
                    <p>
                        <textarea id="descripcionLarga" name="descripcionLarga" rows="4" cols="50"></textarea>
                    </p>

                    <!--COLORES-->
                    <h3>Colores</h3>
                    <p class="form-error error-color">*(Debes elegir un color)</p>
                    <div class="talles-colores-div">
                    

                    <% color.forEach(colores => { %>
                    <label for="color<%=colores.name%>>"><%=colores.name%>
                    <input name="color" type="checkbox" value="<%=colores.id%>" id="color<%=colores.name%>"></label>
                    <% }) %>
                    </div>
                    <h3>Talles</h3>
                    <p class="form-error error-color">*(Debes elegir los talles)</p>
                    <div class="talles-colores-div">
                    <!--Talles-->
                    

                    <% size.forEach(talles => { %>
                    <label for="talle<%=talles.number%>>"><%=talles.number%>
                    <input name="talle" type="checkbox" value="<%=talles.id%>" id="talle<%=talles.number%>"></label>
                    <% }) %>
                    </div>

                    <h3>Especificaciones</h3>
                    <label for="capellada">Capellada</label>
                    <p class="form-error error-capellada">*(Este campo no puede estar vacío)</p>
                    <input type="text" name="capellada" id="capellada"
                        value="<%= locals.errors && old.capellada ? old.capellada : ''%>">
                    <label for="forro">Forro</label>
                    <p class="form-error error-forro">*(Este campo no puede estar vacío)</p>
                    <input type="text" name="forro" id="forro"
                        value="<%= locals.errors && old.forro ? old.forro : ''%>">
                    <label for="suela">Suela</label>
                    <p class="form-error error-suela">*(Este campo no puede estar vacío)</p>
                    <input type="text" name="suela" id="suela"
                        value="<%= locals.errors && old.suela ? old.suela : ''%>">
                    <label for="origen">Origen</label>
                    <p class="form-error error-origen">*(Este campo no puede estar vacío)</p>
                    <input type="text" name="origen" id="origen"
                        value="<%= locals.errors && old.origen ? old.origen : ''%>">
                    <label>Imagen del producto</label>
                    <% if(locals.errors) {%>
                        <% errors.forEach(error=> { %>
                            <% if(error.path=='product-image' ) {%>
                                <p style="color: white; background-color: rgb(87, 10, 10); padding: 5px; border-radius: 5px; margin: 5px;">
                                    <%= error.msg %>
                                </p>
                                <% }})} %>
                                    <input type="file" name="product-image">

                                    <button type="submit">Enviar</button>
                </form>
                <style>
                    <% if (locals.errors) {
                        %><% errors.forEach(error=> {
                                %> .error-<%=error.path %> {
                                    display: block;
                                }

                                <%
                            }) %><%
                    }

                    %>
                </style>

            </div>


            <!--Footer-->
            <%-include('../partials/footer.ejs')%>
    </body>

</html>