<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%-include('../partials/head.ejs', {title: 'Crear' , style:'/products/createForm'})%>


<body>
    <%-include('../partials/header.ejs')%>
    
    <div class="contenedor-padre">
        <div class="title-create">
        <h1>EDITAR PRODUCTO</h1>
        </div>

        <div class="errores">
            
        <p class="imageError errorMsg"></p>
        <p class="nombreError errorMsg"></p>
        <p class="marcaError errorMsg"></p>
        <p class="precioError errorMsg"></p>
        <p class="cuotasError errorMsg"></p>
        <p class="descuentoError errorMsg"></p>
        <p class="stockError errorMsg"></p>
        <p class="descripcionError errorMsg"></p>
        <p class="capelladaError errorMsg"></p>
        <p class="forroError errorMsg"></p>
        <p class="suelaError errorMsg"></p>
        <p class="origenError errorMsg"></p>
        <p class="descripcionLargaError errorMsg"></p>
        <p class="colorError errorMsg"></p>
        <p class="tallesError errorMsg"></p>

        </div>

        <form class="editForm" method="POST" action="/product/<%=producto.id%>/edit?_method=PUT" enctype="multipart/form-data">
        <div class="contenedor-flex">
    <div class="mitad1">
            
            <label class="label-prod">Imagen del producto</label>
            <input type="file" id="imginput" name="product-image">

            <input type="text" placeholder="Nombre" value="<%= producto.name %>" name="nombre" id="nombre" value="<%= locals.errors && old.nombre ? old.nombre : ''%>">


            <select name="marca" id="marca">
                <% brand.forEach(marca=> { %>
                    <option <%= producto.brand_id == marca.id ? "selected" : "" %> value="<%= marca.id %>">
                        <%=marca.name%>
                    </option>
                    <% }) %>
            </select>

            <input type="number" value="<%=producto.price%>" name="precio" id="precio" placeholder="Precio" value="<%= locals.errors && old.precio ? old.precio : ''%>">
  

            <input type="number" value="<%=producto.dues%>" name="cuotas" id="cuotas" placeholder="Cuotas" value="<%= locals.errors && old.cuotas ? old.cuotas : ''%>">
   

            <input type="number" value="<%=producto.discount%>" name="descuento" id="descuento" placeholder="Descuento" value="<%= locals.errors && old.descuento ? old.descuento : ''%>">
     x

            <input type="number" placeholder="Stock" value="<%=producto.stock%>" name="stock" id="stock" value="<%= locals.errors && old.stock ? old.stock : ''%>">
        

            <input type="text" placeholder="Descripción" value="<%=producto.description%>" name="descripcion" id="descripcion" value="<%= locals.errors && old.descripcion ? old.descripcion : ''%>">
       
    </div>
    <!--MITAD 2-->
    <div class="mitad2">
                    <input type="text" value="<%=producto.upper%>" placeholder="Capellada" name="capellada" id="capellada" value="<%= locals.errors && old.capellada ? old.capellada : ''%>">
              
    
                    <input type="text" placeholder="Forro" value="<%=producto.cover%>" name="forro" id="forro" value="<%= locals.errors && old.forro ? old.forro : ''%>">
            
    
                    <input type="text" placeholder="Suela" value="<%=producto.sole%>" name="suela" id="suela" value="<%= locals.errors && old.suela ? old.suela : ''%>">
              
    
                    <input type="text" value="<%=producto.origin%>" placeholder="Origen" name="origen" id="origen" value="<%= locals.errors && old.origen ? old.origen : ''%>">
                    

                    <h4 class="textarea-title">Descripción larga</h4>
                    <textarea id="descripcionLarga" cols="50"><%=producto.large_description%></textarea>
            
    </div>
    <div class="parte3">
        <br>
        <hr>
        <br>
        <h4 class="colta-title">Colores</h3>
        <div class="colores-y-talles">
        <% color.forEach(colores => { %>
        <div class="colores">
        <label for="color<%=colores.name%>"><%=colores.name%>
            <input name="color" type="checkbox" value="<%=colores.id%>" id="color<%=colores.name%>">
        </label>
        </div>
        <% }) %>

    </div>

    <h4 class="colta-title">Talles</h3>
    <div class="colores-y-talles">
            <% size.forEach(talles => { %>
            <div class="colores">
            <label for="talle<%=talles.number%>"><%=talles.number%>
                <input name="talle" type="checkbox" value="<%=talles.id%>" id="talle<%=talles.number%>">
            </label>
        </div>
            <% }) %>
    </div>
    <button type="submit" class="enviar-btn">Enviar</button>
</form>
    </div>
    </div>
    </div>
    </div>

    <!--Footer-->
    <%- include('../partials/footer.ejs') %>
    <script src="/js/editProduct.js"></script>
</div>
</body>

</html>
