<!DOCTYPE html>  
<html lang="en">
    <%- include("../partials/head.ejs", {title: "Listado de producto", style: "/products/productList"}) %>
<body>
    <%- include("../partials/header.ejs") %>
<div class="falsobody">

    <!-- Fede -->
    <aside class="aside-left">
            <div class="aside-title">
                <div>
                    <h4>Ropa y Accesorios > Calzado</h4>
                </div>
                <div>
                    <h2>Zapatillas<h2>
                </div>
                <div>
                    <h4>12 Resultados<h4>
                </div>
            </div>
            <div class="filter-class">            
                <div class="class-arrive-today">
                    <p>Llegan hoy</p>
                    <i class="fa-solid fa-toggle-off toggle"></i>
                </div>
                <div class="class-arrive-free">
                    <p>Te da envío gratis</p>
                    <i class="fa-solid fa-toggle-off toggle"></i>
                </div>
                <div class="class-free">
                    <p>Envio gratis</p>
                    <i class="fa-solid fa-toggle-off toggle"></i>
                </div>
                <div class="price-with-discount">
                    <p>Precio en cuotas</p>
                    <i class="fa-solid fa-toggle-off toggle"></i>
                </div>
            </div>
            <div class="gender-class">
                <div>
                    <h2>Género</h2>
                </div>
                <div>
                    <p>Hombre</p>
                </div>
                <div>
                    <p>Mujer</p>
                </div>
                <div>
                    <p>Niños</p>
                </div>
                <div>
                    <p>Niñas</p>
                </div>
            </div>
            <div class="waist-class">
                <div>
                    </a><h2>Talle</h2>
                </div>
                <div>
                    <p>38</p>
                </div>
                <div>
                    <p>39</p>
                </div>
                <div>
                    <p>39.5</p>
                </div>
                <div>
                    <p>40</p>
                </div>
                <div>
                    <p>41</p>
                </div>
                <div>
                    <p>42</p>
                </div>
                <div>
                    <p>43</p>
                </div>
                <div>
                    <p>44</p>
                </div>
            </div>
            <div class="brand-class-aside">
                <div>
                    <h2>Marca</h2>
                </div>
                <div>
                    <!-- ejemplo de filtro marca, y esto mismo podemos usar para buscar por talle o colores si los incluimos en lo que se obtiene query del searchBar -->
                    <a href="/product/list?searchBar=topper"><p>Topper</p></a> <!--Tenes que ponerle text-decoration: none; a los a de los filtros  de esta vista-->
                </div>
                <div>
                    <a href="/product/list?searchBar=jaguar"><p>Jaguar</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=new+balance"><p>New Balance</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=adidas"><p>Adidas</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=nike"><p>Nike</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=kappa"><p>Kappa</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=puma"><p>Puma</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=fila"><p>Fila</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=atomik"><p>Atomik</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=converse"><p>Converse</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=dc+shoes"><p>Dc Shoes</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=john+foos"><p>John Foos</p></a>
                </div>
                <div>
                    <p>Under Armour</p>
                </div>
                <div>
                    <p>Umbro</p>
                </div>
                <div>
                    <p>Lacoste</p>
                </div>
            </div>
            <div class="condition-class">
                <div>
                    <h2>Condicion</h2>
                </div>
                <div>
                    <p>Nuevo</p>
                </div>
                <div>
                    <p>Usado</p>
                </div>
            </div>
            <div class="location-class">
                <div>
                    <h2>Ubicación</h2>
                </div>
                <div>
                    <p>Capital Federal</p>
                </div>
                <div>
                    <p>Bs.As G.B.A Sur</p>
                </div>
                <div>
                    <p>Bs.As G.B.A Norte</p>
                </div>
                <div>
                    <p>Bs.As G.B.A Oeste</p>
                </div>
                <div class="class-show-more">
                    <p>Mostrar más</p>
                </div>
            </div>
    </aside>
    <main>
            <section class="section-right">

                <!---->
                

                <% productos.forEach(product => {  %>                
                <article>                                       
                    <div class="cart-class">
                        <div class="cart-image">
                           <a href="/product/detail/<%=product.id %>"> <img src="/images/products/<%=product.image %>" alt="Cafetera Moulinex"></a>
                        </div>             
                        <div class="item-box">
                            <div class="brand-class">
                                <h4> <%= product.brand ? product.brand.name : ""%> </h4>  
                            </div>
                            <div class="description-class">
                                <p><%= product.description %></p>
                            </div>
                            <div by-brand>
                                <p><%= product.name %></p>
                            </div>
                            <div class="reputation-icon">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price-class">
                                <h2 class="precio">$ <%= product.price.toLocaleString('es-ES')%></h2>                            
                            </div>
                            <div class="arrives-class">
                                <label for="arrives"></label>
                                <input type="text" id="arrives" name="arrives" placeholder="Llega gratis hoy sabado">
                            </div>                            
                        </div>
                    </div>                    
                </article>
                <%    }); %>
            </section>
    </main>
</div>

    <%- include("../partials/footer.ejs") %>
</body>
</html>