
 <!--Head-->
    <%-include('../partials/head.ejs', {title: 'Detalle del producto', style: '/products/productDetail'})%>
<body>
   
    <!--Header-->
    <%-include('../partials/header.ejs')%>

    <div class="titulo-container"> 
      <h2>
        <a href=""> Volver al listado </a>
    </h2>
    </div>
    <div class="otros-titulos">
      <h4>Ropa y accesorios  > </h4>
      <h4>Calsado > </h4>
      <h4>Zapatillas  > </h4>
        </div>
<main>

     <article class="total-product-detail">
        <div class="producto">
         <div class="img-producto">
          <img src="/images/products/<%=producto.img%>" alt="img-producto"/>

     <div class="img-prod-peq">
        <% if(producto.miniatura != "" && producto.miniatura != undefined){ %>
        <% for(let i= 0; i < producto.miniatura.length; i ++) { %>
        <img src="/images/products/miniaturas/<%=producto.miniatura[i]%>" alt=""/>
        <%}%>
        <% } %>
       </div>
      </div>
     </div>
        <!-- ---------------Informacion del producto---------------- -->
    
      <section class="caja-info-producto">
         <div class="container-info-product">
            <div class="title-producto">
                <h4>SALE!</h4>
             </div>
             <div class="reputation-icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            <a href="">
                <span>1</span>
                 Reseñas
            </a>
             </div>
         <div class="nombre-producto">
               <%= producto.nombre %> 
         </div>
         <div class="container-precio">
         <span>$<%= producto.precio.toLocaleString('es-ES')%></span>
            <!-- <i class="fa-solid fa-chevron-right"></i> -->
         </div>
         <div class="container-cuotas">
             <h4> <%= producto.cuotas%> Cuotas</h4>
             <i class="fa-solid fa-chevron-right"></i>
         </div>
         <div class="container-pago">
             <h4> Ver medios de pago </h4>
             <i class="fa-solid fa-chevron-right"></i>
         </div>
         <div>
         <div class="container-entrega">
             <h4>Mas formas de entrega</h4>
             <i class="fa-solid fa-chevron-right"></i>
         </div>
         <div class="container-devolucion">
             <h4>Devolucion gratis</h4>
             <i class="fa-solid fa-chevron-right"></i>
         </div>
         </div>

         <div class="container-details-product">
         <div class="form-group">
              <label for="colour">Color</label>
              <select name="colour" id="colour">
              <option disabled selected value="">
                    Elige una opción
              </option>
              <% for(let i = 0; i < producto.color.length; i++){ %>
              <option value=""><%=producto.color[i]%></option>
              <% } %>
        </select>
         </div>
   
    <div class="form-group"><label for="size">Talle</label>
    <select name="size" id="size">
    <option disabled selected value="">Elige una opción</option>
    <!--Esto aca este-->
    <% for(let i = 0; i < producto.talle.length; i++){ %>
    <option value=""><%=producto.talle[i]%></option>
    <% } %>

    </select>
    </div>
    <div>
        <button class="btn-clean">Limpiar</button>
    </div>
   </div>
    <div class="promo-disponible">
        <h4>¡Ultima disponible!</h4>
        <button class="btn-add-to-cart">
        <i class="fa-solid fa-plus"></i>Comprar ahora</button>
    
    <div>
        <button class="btn-add-to-cart">
     <a href="">
        <i class="fa-solid fa-plus"></i>Agregar al carrito</button>
     </a>
    </div>
    </div>
    </div>
    </section>

       <!--  /*------------Description de producto----------------------*/ -->
    <section class="description-text">
    <div class="container-description">
    <div class="title-description">
         <h4>Descripción</h4>
         <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="text-description">
        <p> <%= producto.descripcionLarga %></p>
    </div>
       
       
    <div class="container-additional-information">
    <div class="title-additional-information">
          <h4>Especificaciónes</h4>
          <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="text-additional-information hidden">
    <ul>
        <li>Capellada: <%= producto.capellada %>.</li>
        <li>Forro: <%= producto.forro %>.</li>
        <li>Suela: <%= producto.suela %>.</li>
        <li>Origen:  <%= producto.origen %>.</li>
    </ul>  
    </div>

    <div class="container-social">
        <span>Compartir</span>
    <div class="container-buttons-social">
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
    </div>
    </div>
    </div>
    </section>
    </article>
     
    </main> 
              <!--   __________________Productos Relacionados_______________________ -->
 

    <div class="titulo-container"> 
        <h2>Productos Relacionados |</h2>
    </div>
    <section class="article-related">
        <% for(let i= 0; i < 3; i ++) {%>
    <div class="container-related-products">
      <div class="card-list-products">
        <div class="card">
         <div class="img-card">
          <img src="/images/products/<%=productos[i].img %>" alt="product-1"/>
        </div>
        <div class="info-card">
        <div class="text-product">
            <h4><%=producto.nombre%> </h4>
            <div class="discount"><%=producto.descuento%> % OFF</div>
            <p class="description"><%=producto.descripcion%></p>
            </div>
            <p class="precio"><%=producto.precio.toLocaleString('es-ES')%>$</p>
        </div>
        </div>
      </div>
    </div>
    <% } %>
    </section>
   
     
    <%-include('../partials/footer.ejs') %>

</body>


</html>

