<!DOCTYPE html>  
<html lang="en">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%- include("../partials/head.ejs", {title: "Listado de producto", style: "/products/productList"}) %>
    <body>
    <%- include("../partials/header.ejs") %>
<div class="falsobody">

    <!-- Fede -->
    <aside class="aside-left">
            <div class="aside-title">
                <div>
                    <h4>Ropa y Accesorios > Calzado</h4>
                </div>
                <div>
                    <h2>Zapatillas<h2>
                </div>
                <div>
                    <h4>12 Resultados<h4>
                </div>
            </div>
            <div class="filter-class">            
                <div class="class-arrive-today">
                    <p>Llegan hoy</p>
                    <i class="fa-solid fa-toggle-off toggle"></i>
                </div>
                <div class="class-arrive-free">
                    <p>Te da envío gratis</p>
                    <i class="fa-solid fa-toggle-off toggle"></i>
                </div>
                <div class="class-free">
                    <p>Envio gratis</p>
                    <i class="fa-solid fa-toggle-off toggle"></i>
                </div>
                <div class="price-with-discount">
                    <p>Precio en cuotas</p>
                    <i class="fa-solid fa-toggle-off toggle"></i>
                </div>
            </div>
            <div class="gender-class">
                <div>
                    <h2>Precio</h2>
                </div>
                <div>
                    <form action="/product/list" method="get">
                        <p>
                            <input type="number" name="precioUno">
                        </p>
                        <p>
                            <input type="number" name="precioDos">
                        </p>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="waist-class">
                <div>
                    </a><h2>Talle</h2>
                </div>
                <div>
                    <form action="/product/list" method="get">
                        <p>
                            <input type="number" name="talleUno">
                        </p>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="brand-class-aside">
                <div>
                    <h2>Marca</h2>
                </div>
                <div>
                    <!-- ejemplo de filtro marca, y esto mismo podemos usar para buscar por talle o colores si los incluimos en lo que se obtiene query del searchBar -->
                    <a href="/product/list?searchBar=topper"><p>Topper</p></a> <!--Tenes que ponerle text-decoration: none; a los a de los filtros  de esta vista-->
                </div>
                <div>
                    <a href="/product/list?searchBar=jaguar"><p>Jaguar</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=new+balance"><p>New Balance</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=adidas"><p>Adidas</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=nike"><p>Nike</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=kappa"><p>Kappa</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=puma"><p>Puma</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=fila"><p>Fila</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=atomik"><p>Atomik</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=converse"><p>Converse</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=dc+shoes"><p>Dc Shoes</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=john+foos"><p>John Foos</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=reebok"><p>Reebok</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=wilson"><p>Wilson</p></a>
                </div>
            </div>
            <div class="location-class">
                <div>
                    <h2>Origen</h2>
                </div>
                <div>
                    <a href="/product/list?searchBar=argentina"><p>Argentina</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=españa"><p>España</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=italia"><p>Italia</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=estados+unidos"><p>Estados Unidos</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=alemania"><p>Alemania</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=china"><p>China</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=uruguay"><p>Uruguay</p></a>
                </div>
                <div>
                    <a href="/product/list?searchBar=indonesia"><p>Indonesia</p></a>
                </div>
            </div>
    </aside>
    <main>
            <section class="section-right">

                <!---->
                

                <% productos.forEach(product => {  %>                
                <article>                                       
                    <div class="cart-class">
                        <div class="cart-image">
                           <a href="/product/detail/<%=product.id %>"> <img src="/images/products/<%=product.image %>" alt="Cafetera Moulinex">
                        </div>             
                        <div class="item-box">
                                <h4 class="brand-class"> <%= product.brand ? product.brand.name : ""%> </h4>  
                                <p class="description-class"><%= product.description %></p>
                                <p class="name-class"><%= product.name %></p></a> 
       
                                <i class="fa-solid fa-star reputation-icon"></i>
                                <i class="fa-solid fa-star reputation-icon"></i>
                                <i class="fa-solid fa-star reputation-icon"></i>
                                <i class="fa-solid fa-star reputation-icon"></i>
                                <i class="fa-solid fa-star-half-stroke reputation-icon"></i>
                 
                                <h2 class="precio price-class">$ <%= product.price.toLocaleString('es-ES')%></h2>                            
               
                                <p class="arrives">Llega gratis hoy sábado</p>
                                                
                        </div>
                    </div>                  
                </article>
                <%    }); %>
            </section>
    </main>
</div>

    <%- include("../partials/footer.ejs") %>
</body>
</html>