<!-- Facu -->
<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs', {title: 'Carrito', style: 'productCart'})%>
<body>
    <%-include('../partials/header.ejs')%>
    <main>
        <% let precioTotal = 0 %>
        <% let envio = 2500 %>
        <section>
            <% for( let i = 0; i < 3; i++) { %>
                <div class="caja-producto">
                    <img src="<%= productos[i].img %>" alt="">
                    <div class="detalle-producto">
                        <h3><%= productos[i].marca %> <%= productos[i].nombre %></h3>
                        <p>$<%= productos[i].precio %></p>
                    </div>
                </div>
                <% precioTotal += productos[i].precio %>
            <% } %>
        </section>
        <section>
            <div class="resumen">
                <div>
                    <p>Productos(3)</p>
                    <p>$<%= precioTotal %></p>
                </div>
                <div>
                    <p>Envio</p>
                    <p>$<%= envio %></p>
                </div>
                <div class="precio-final">
                    <p>Total a pagar</p>
                    <p>$<%= precioTotal + envio %></p>
                </div> 
            </div>            
                <input type="button" value="Comprar">
        </section>
    </main>
    <%-include('../partials/footer.ejs')%>
</body>
</html>