
 <!--Head-->
    <%-include('./partials/head.ejs', {title: 'Detalle del producto'})%>
    <link rel="stylesheet" href="/css/productDetail.css">
   </head>
<body>
   
    <header>
        <div class="top-header-main">
            <div class="top-header1"><a href="/"><img src="/images/logopng.png" alt=""></a>
            </div>
            <div class="top-header2"><div class="search-bar"><input type="text" placeholder="Buscar modelos o marcas..."><button ><i class="fa-solid fa-magnifying-glass"></i></button></div></div>
            <div class="top-header3">Caja 3</div>
        </div>

        <div class="bottom-header">
            
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <nav>
            <div class="nav-1">
                <ul>
                    <li><i class="fa-solid fa-location-dot"></i><a href=""> Ingresa tu domicilio</a></li>
                </ul>
            </div>

            <div class="nav-2">
                <ul>
                    <li><a href="">Categorías</a></li>
                    <li><a href="/productDetail">Ofertas</a></li>
                    <li><a href="">Historial</a></li>
                    <li><a href="/productList">Listado</a></li>
                    <li><a href="">Moda</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>

            <div class="nav-3" >
                <ul>
                    <li><a href="">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>
                    <li><a href="/login">Ingresa</a></li>
                    <li><a href="/register">Crea tu cuenta</a></li>
                    
                </ul>
            </div>
            </nav>  
        </div>
    </header>

    <div class="titulo-container"> 
      <h2>
        <a href="/productList"> Volver al listado </a>
    </h2>
    </div>
    <div class="otros-titulos">
      <h4>Ropa y accesorios  > </h4>
      <h4>Calsado > </h4>
      <h4>Zapatillas  > </h4>
        </div>
<main>

     <article class="total-product-detail">
        <div class="producto">
         <div class="img-producto">
          <img src="\images\img-prodDetail\img-grande.jpg" alt="img-producto"/>

     <div class="img-prod-peq">
        <img src="/images\img-prodDetail\img-1.jpg" alt=""/>
        <img src="\images\img-prodDetail\img-2.jpg" alt=""/>
        <img src="\images\img-prodDetail\img-3.jpg" alt=""/>
        <img src="\images\img-prodDetail\img-4.jpg" alt=""/>
        <img src="\images\img-prodDetail\img-5.jpg" alt=""/>
       </div>
      </div>
     </div>
        <!-- ---------------Informacion del producto---------------- -->
    
      <section class="caja-info-producto">
         <div class="container-info-product">
            <div class="title-producto">
                <h4>SALE!</h4>
             </div>
             <div class="reputation-icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            <a href="">
                <span>1</span>
                 Reseñas
            </a>
             </div>
         <div class="nombre-producto">
               <%= producto.nombre %> 
         </div>
         <div class="container-precio">
         <span>$95.00</span>
            <!-- <i class="fa-solid fa-chevron-right"></i> -->
         </div>
         <div class="container-cuotas">
             <h4> 3 cuotas de $ 31.999 </h4>
             <i class="fa-solid fa-chevron-right"></i>
         </div>
         <div class="container-pago">
             <h4> Ver medios de pago </h4>
             <i class="fa-solid fa-chevron-right"></i>
         </div>
         <div>
         <div class="container-entrega">
             <h4>Mas formas de entrega</h4>
             <i class="fa-solid fa-chevron-right"></i>
         </div>
         <div class="container-devolucion">
             <h4>Devolucion gratis</h4>
             <i class="fa-solid fa-chevron-right"></i>
         </div>
         </div>

         <div class="container-details-product">
         <div class="form-group">
              <label for="colour">Color</label>
              <select name="colour" id="colour">
              <option disabled selected value="">
                    Elige una opción
              </option>
              <option value="rojo">Rojo</option>
              <option value="blanco">Blanco</option>
              <option value="azul">Azul</option>
        </select>
         </div>
   
    <div class="form-group"><label for="size">Talle</label>
    <select name="size" id="size">
    <option disabled selected value="">Elige una opción</option>
    <!--Esto aca este-->
    <% for(let i = 0; i < producto.talle.length; i++){ %>
    <option value="36"><%=producto.talle[i]%></option>
    <% } %>

    </select>
    </div>
    <div>
        <button class="btn-clean">Limpiar</button>
    </div>
   </div>
    <div class="promo-disponible">
        <h4>¡Ultima disponible!</h4>
        <button class="btn-add-to-cart">
        <i class="fa-solid fa-plus"></i>Comprar ahora</button>
    
    <div>
        <button class="btn-add-to-cart">
        <i class="fa-solid fa-plus"></i>Agregar al carrito</button>
    </div>
    </div>
    </div>
    </section>

       <!--  /*------------Description de producto----------------------*/ -->
    <section class="description-text">
    <div class="container-description">
    <div class="title-description">
         <h4>Descripción</h4>
         <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="text-description">
        <p>La NIKE Venture Runner Mujer mejora el estilo con una plantilla acolchada y una ligera parte superior de malla, al tiempo que hace un guiño al icónico calzado de los 80 que comenzó la revolución del running.
           Las costuras visibles, la parte superior altamente flexible y el pasador del talón con micro detalles de la marca añaden un ADN moderno a tu look relajado.
           Debido a la naturaleza de exclusiva calidad de los materiales, podría ocurrir que en algunos casos el producto destiñera levemente, sobre todo en condiciones de humedad.
           Mientras esté mojada, se aconseja que la zapatilla no entre en contacto con otras prendas claras hasta que no esté completamente seca.</p>
    </div>
       
       
    <div class="container-additional-information">
    <div class="title-additional-information">
          <h4>Especificaciónes</h4>
          <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="text-additional-information hidden">
    <ul>
        <li>Capellada: <%= producto.capellada %>.</li>
        <li>Forro: <%= producto.forro %>.</li>
        <li>Suela: Goma.</li>
        <li>Origen Indonesia.</li>
    </ul>  
    </div>
   <!--  <div class="container-reviews">
    <div class="title-reviews">
        <h4>Reseñas                         </h4>
        <i class="fa-solid fa-chevron-down"></i> -->
   <!--  </div>
    <div class="text-reviews hidden">
            <p>-----------</p>
    </div>
    </div> -->
    <!-- </div> -->
    <div class="container-social">
        <span>Compartir</span>
    <div class="container-buttons-social">
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
    </div>
    </div>
    </div>
    </section>
    </article>
     
    </main> 
              <!--   __________________Productos Relacionados_______________________ -->
 

    <div class="titulo-container"> 
        <h2>Productos Relacionados |</h2>
    </div>
    <section class="article-related">
    <div class="container-related-products">
      <div class="card-list-products">
        <div class="card">
         <div class="img-card">
          <img src="\images\img-prodDetail\img-related-1-.jpg" alt="product-1"/>
        </div>
        <div class="info-card">
        <div class="text-product">
            <h4>NIKE - AIR ZOOM PEGASUS </h4>
            <div class="discount">10% OFF</div>
            <p class="description">ZAPATILLAS RUNNING NIKE AIR ZOOM PEGASUS 37 MUJER ROSA</p>
            </div>
            <p class="precio">$83.999</p>
        </div>
        </div>
      </div>
    </div>
    <div class="container-related-products">
        <div class="card-list-products">
        <div class="card">
            <div class="img-card">
                <img src="\images\img-prodDetail\img-related-2.jpg" alt="product-2"/>
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h4>NIKE - AIR AZUL</h4>
                    <p class="discount">15% OFF</p>
                    <p class="description">ZAPATILLAS RUNNING NIKE AIR ZOOM PEGASUS 39 AZUL</p>
                </div>
                <p class="precio">$109.999</p>
           </div>
        </div>
      </div>
    </div>
    <div class="container-related-products">
        <div class="card-list-products">
        <div class="card">
        <div class="img-card">
        <img src="\images\img-prodDetail\img-related-3.jpg" alt="product-3"/>
        <div class="info-card">
            <div class="text-product">
                <h4>ADIDAS - GALAXY 6</h4>
                <p class="discount">5% OFF</p>
                <p class="description">ZAPATILLAS RUNNING ADIDAS GALAXY 6 NEGRA</p>
            </div>
            <p class="precio">$49.399</p>
        </div>
    </div>
    </div>
</div>
    </div>
    </section>
    



   <footer>
    <div class="footer-main">
      <div class="footer-1">
          <h4>Acerca de</h3>
              <ul>
                  <li>The Shoes</li>
                  <li>Investor relations</li>
                  <li>Tendencias</li>
                  <li>Sustentabilidad</li>
                  <li>Blog</li>
              </ul>
      </div>
      <div class="footer-2">
          <h4>Otros sitios</h3>
              <ul>
                  <li>Developers</li>
                  <li>Shoe Pago</li>
                  <li>Shoe shops</li>
                  <li>Envíos</li>
                  <li>Shoe Ads</li>
              </ul>
      </div>
      <div class="footer-3">
          <h4>Ayuda</h3>
              <ul>
                  <li>Comprar</li>
                  <li>Vender</li>
                  <li>Resolución de problemas</li>
                  <li>Centro de seguridad</li>
                  <li>Preguntas frecuentes</li>
              </ul>
      </div>
      <div class="footer-4">
          <h4>Redes sociales</h3>
              <ul>
                  <li>Twitter</li>
                  <li>Facebook</li>
                  <li>Instagram</li>
                  <li>Youtube</li>
                  <li>Tiktok</li>
              </ul>
      </div>
      <div class="footer-5">
          <h4>Mi Cuenta</h3>
              <ul>
                  <li>Ingresar</li>
                  <li>Vender</li>
                  <li>Perfil</li>
                  <li>Privacidad</li>
              </ul>
      </div>
      <div class="footer-6">
          <h4>Shoe Puntos</h3>
              <ul>
                  <li>Nivel 5</li>
                  <li>Disney+</li>
                  <li>Star+</li>
                  <li>HBO MAX</li>
                  <li>Paramount+</li>
              </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <ul>
          <li>Trabaja con nosotros</li>
          <li>Terminos y condiciones</li>
          <li>Cómo cuidamos tu privacidad</li>
          <li>Accesibilidad</li>
          <li>Información al usuario financiero</li>
          <li>Ayuda</li>
          <li>Defensa al consumidor</li>
          <li>Información</li>
          <li>Seguros</li>
      </ul>
    </div>
    <div class="footer-bottom">
      <ul>
          <li>Copyright 1999-2023 The Shoes Market S.R.L</li>
          <li>Av. Falsa 123, Piso 2, CP 1234, Parque Avellaneda, CABA</li>
      </ul>
    </div>
  </footer>

</body>


</html>