  <!DOCTYPE html>
  <html lang="es">
    <!-- Head -->
    <%- include('./partials/head.ejs', {title: 'Ayuda', style: 'support'}) %>
    <body>
      <!-- Header -->
      <%- include('./partials/header.ejs') %>
    
      <main>
        <div class="contenedor-padre">
          <div class="title-support">
          <h1>Formulario de Contacto</h1>
         </div>
          <div class="mitad1">
            <p class="suppDescription">Cuentanos en qué podemos ayudarte.</p>
            <p class="suppDescription2">En ShoesMarket, además de preocuparnos porque tus pies lleven el mejor calzado, nos preocupamos por tu integridad, los datos brindados serán de total acceso confidencial.</p>
            <div class="errors">
              <% if (locals.errors && errors.email) { %>
                <div>
                    <p class="error-msg"> <%= errors.email.msg %></p>
                </div>
            <% } %>
            </div>
            <div class="form-container">
        <% if(locals.mensaje){ %>
          <h1 style="background-color: skyblue; color: white; border-radius: 5px; text-align: center; margin: 10px;"><%= mensaje %></h1>
        <% } %>
        <form class="formu" action="/support" method="POST">
            <label>Nombre:</label><br>
            <input type="text" name="nombre" id="nombre"><br>
            <label>Apellido:</label><br>
            <input type="text" name="apellido" id="apellido"><br>
            <label>Email:</label><br>
            <input type="email" name="email" id="email"><br>
            <label>Mensaje:</label><br>
            <textarea name="mensaje" id="contenido"></textarea><br><br>
            <button type="submit">Enviar</button>
        </form>
        <a href="/"><div class="container-logo"> 
        <img src="images/logopng.png" id="logo" alt="">
      </div></a>
      </div>
    </div>
      <div class="mitad2">
      <img class="img-2" src="/images/register-zapas.jpg">
      </div>
      </div>
      </main>
      
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
      <script src="/js/support.js"></script>
    </body>
  </html>
