<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs', {title: 'Perfil', style: '/user/profile'})%>
<body>
    <%-include('../partials/header.ejs')%>
    <main>
        <section class="perfil">
            <div class="encabezado">
                <div>
                    <% if (user.image) { %>
                        <div style="background-image: url('/images/user/<%= user.image %>')" class="avatar"></div>
                    <% } else { %>
                        <div style="background-image: url('/images/user/default.jpeg')" class="avatar"></div>
                    <% } %>
                </div>
                <div>
                   <p class="nombre"><%= user.name %> <%= user.last_name %></p>
                </div>
            </div>
            <div class="datos">
                <div>
                    <p>Email: <%= user.email %></p>
                </div>
            </div>
        </section>
    </main>
    <%-include('../partials/footer.ejs')%>
</body>
</html>