<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs', {title: 'Iniciar sesion', style: '/user/profile'})%>
<body>
    <%-include('../partials/header.ejs')%>
    <main>
        <section class="perfil">
            <div class="encabezado">
                <div>
                    <% if (user.avatar) { %>
                        <img src="/images/user/<%= user.avatar %>" class="avatar" alt="">
                    <% } else { %>
                        <img src="/images/user/default.jpeg" class="avatar" alt="">
                    <% } %>
                </div>
                <div>
                   <p class="nombre"><%= user.nombre %> <%= user.apellido %></p>
                </div>
            </div>
            <div class="datos">
                <div>
                    <p>Email: <%= user.email %></p>
                </div>
            </div>
        </section>
    </main>
    <%-include('../partials/footer.ejs')%>
</body>
</html>