<!DOCTYPE html>
<html lang="en">

    <%-include('../partials/head.ejs', {title: 'Registrarse', style: '/user/register'})%>

<body>
    <%-include('../partials/header.ejs')%>
    <main>
        <section>
            <h2>Crear cuenta<h2>
            <form action="/user/register" method="POST">
                <div class="form">
                    <label>Nombre</label>
                    <input type="text" name="nombre"
                    value="<%=locals.oldData ? oldData.nombre : null %>">
                    <% if (locals.errorsObjeto && errorsObjeto.nombre) { %>
                        <div>
                            <p> <%= errorsObjeto.nombre.msg %> </p>
                        </div>
                    <% } %>
                </div>
                <div class="form"> 
                    <label>Apellido</label>
                    <input type="text" name="apellido"
                    value="<%=locals.oldData ? oldData.apellido : null %>">
                    <% if (locals.errorsObjeto && errorsObjeto.apellido) { %>
                        <div>
                            <p> <%= errorsObjeto.apellido.msg %> </p>
                        </div>
                    <% } %>
                </div>
                <div class="form">
                    <label>Email</label>
                    <input type="email" name="email"
                    value="<%=locals.oldData ? oldData.email : null %>">
                    <% if (locals.errorsObjeto && errorsObjeto.email) { %>
                        <div>
                            <p> <%= errorsObjeto.email.msg %> </p>
                        </div>
                    <% } %>
                </div>
                <div class="form">
                    <label>Contraseña</label> 
                    <input type="password" name="contraseña">
                    <% if (locals.errorsObjeto && errorsObjeto.contraseña) { %>
                        <div>
                            <p> <%= errorsObjeto.contraseña.msg %> </p>
                        </div>
                    <% } %>
                </div>
                <div class="boton">
                    <button type="submit">Crear cuenta</button>
                </div>
            </form>
            <p class="login">¿Ya tienes una cuenta? <a href="login">Iniciar sesion</a></p>
        </section>
    </main>
    <%-include('../partials/footer.ejs')%>
</body>
</html>